# Compiled
*.elc

# Packaging
.cask

# Emacs generate
elpa
#site-lisp

var
auto-save-list
\#*
.#*

*~
recentf
thumbs
ac-comphist.dat
company-statistics-cache.el
ditaa0_9.jar
ido.last
org-clock-save.el
places
.session
ac-comphist.dat
tramp
server
